
[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = accessors,anonymous_methods,anonymous_types,control_blocks,events,indexers,lambdas,object_collection_array_initializers,properties

# ReSharper properties
resharper_csharp_other_braces = end_of_line
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false

resharper_unnecessary_whitespace_highlighting = warning
